INVENTORYPRO_VERSION=v0.1.3
INVENTORY_HTTP_PORT=5000

APP_SECRET_KEY=replace-with-a-random-hex-secret
INVENTORY_INITIAL_ADMIN_USERNAME=admin
INVENTORY_INITIAL_ADMIN_PASSWORD=replace-with-a-long-temporary-password

BACKUP_ENCRYPTION_KEY=
INVENTORY_LINKS_ENCRYPTION_KEY=
INVENTORY_LINKS_ALLOW_PLAINTEXT_SECRETS=0

PONDSEC_AI_LLM_PROVIDER=
PONDSEC_AI_OLLAMA_URL=http://host.docker.internal:11434
PONDSEC_AI_OLLAMA_MODEL=mistral
